<!doctype html>
<html lang="en">
<!--<head>-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>辣鸡时刻</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet/less" href="./public/less/index.less">
    <script src="./public/libs/less.js"></script>

</head>
<body ng-app="Todays">
    <div class="viewport">
        <!--导航栏-->
        <div ng-class="{nav:true, collapse:collapsed}" ng-controller="NavController">
            <dl>
                <dt class="login">
                    <div class="avatar">
                        <img src="./public/images/avatar.png" alt="">
                    </div>
                    <a href="javascript:;">登陆</a>
                </dt>
                <dd  ng-repeat="(key, nav) in navs" ng-click="toggle()">
                    <a href="{{nav.link}}" class="{{nav.icon}}">
                        <span ng-class="{active: index == key}" >{{nav.text}}</span>
                    </a>
                </dd>
            </dl>
            <div class="extra">
                <a href="javascript:;" class="icon-image">夜晚</a>
                <a href="javascript:;" class="icon-download">离线</a>
            </div>
        </div>
        <!--内容-->
        <div ng-class="{container:true, collapse:collapsed}">
            <!--头部-->
            <div class="header">
                <a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
                <h2>{{title}}</h2>
                <a href="javascript:;" class="search icon-search"></a>
            </div>
            <!--主体-->
            <div class="body">
                <div loading class="loading" ng-hide ="loaded" src="./public/images/loading.gif"></div>
                <!--占位符-->
                <div ng-view></div>

            </div>

        </div>
    </div>

    <script src="./public/libs/angular.js"></script>
    <script src="./public/libs/angular-route.min.js"></script>

    <script src="./script/app.js"></script>
    <script src="./script/controller.js"></script>
    <script src="./script/directive.js"></script>

</body>
</html>