<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>今日一刻</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet/less" href="../public/less/index.less">
    <script src="../public/libs/less.js"></script>
</head>
<body>
    <div class="viewport">
        <!--导航栏-->
        <div class="nav">
            <dl>
                <dt class="login">
                <div class="avatar">
                    <img src="../public/images/avatar.png" alt="">
                </div>
                <a href="javascript:;">登陆</a>
                </dt>
                <dd>
                    <a href="javascript:;" class="icon-home">
                        <span class="active">今日一刻</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="icon-file-empty">
                        <span>往期内容</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="icon-pencil">
                        <span>热门作者</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="icon-menu">
                        <span>栏目浏览</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="icon-heart">
                        <span>我的喜欢</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="icon-cog">
                        <span>设置</span>
                    </a>
                </dd>
            </dl>
            <div class="extra">
                <a href="javascript:;" class="icon-image">夜晚</a>
                <a href="javascript:;" class="icon-download">离线</a>
            </div>
        </div>
        <!--内容-->
        <div class="container">
            <!--头部-->
            <div class="header">
                <a href="javascript:;" class="menu icon-menu"></a>
                <h2>热门作者</h2>
                <a href="javascript:;" class="search icon-search"></a>
            </div>
            <!--主体-->
            <div class="body">
                <dl class="author">
                    <dt>本周推荐</dt>
                    <dd>
                        <div class="avatar">
                            <img src="../uploads/avatar_1.png" alt="">
                        </div>
                        <div class="info">
                            <h5>深焦</h5>
                            <p>我们在全世界和你看电影</p>
                        </div>
                    </dd>
                    <dd>
                        <div class="avatar">
                            <img src="../uploads/avatar_2.png" alt="">
                        </div>
                        <div class="info">
                            <h5>尉迟上九</h5>
                            <p>偏执的电影爱好者</p>
                        </div>
                    </dd>
                    <dd>
                        <div class="avatar">
                            <img src="../uploads/avatar_3.png" alt="">
                        </div>
                        <div class="info">
                            <h5>风行水上</h5>
                            <p>本名高军，画家</p>
                        </div>
                    </dd>

                    <dt>热门作者</dt>
                    <dd>
                        <div class="avatar">
                            <img src="../uploads/avatar_3.png" alt="">
                        </div>
                        <div class="info">
                            <h5>风行水上</h5>
                            <p>本名高军，画家</p>
                        </div>
                    </dd>
                    <dd>
                        <div class="avatar">
                            <img src="../uploads/avatar_2.png" alt="">
                        </div>
                        <div class="info">
                            <h5>尉迟上九</h5>
                            <p>偏执的电影爱好者</p>
                        </div>
                    </dd>
                </dl>



            </div>

        </div>


    </div>
</body>
</html>